*{
	background-color:rgb(77, 219, 255);
}
.btn
		{
			color:red;
			background-color:green;
			width:140px;
			height:100px;
			font-size:20px;
		}
a{
	height:50px;
	border:1px solid black;
	text-align:center;
	background-color:purple;
	font-size:20px;
	padding : 10px;
	color:white;
	text-decoration :none;
	
}
body{
	margin-left : 75px;
	margin-right : 75px;
	color:yellow;	
	font-size:20px;
}
header{
	
	height:50px;
	border:1px solid white;
	text-align:center;
	background-color:orange;
	font-size:20px;
	color:white;
}

table{
		align:center;
		padding: 20px;
	}
link{
	color:yellow;
	
	}
.txt{
	font-color:yellow;
}
	
	